<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="depends,defects"
         cacheResult="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="false">
    <testsuites>
        <testsuite name="Architecture">
            <directory suffix="Test.php">./tests/Architecture</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./packages/runtime/src</directory>
            <directory suffix=".php">./packages/dev/src</directory>
        </include>
    </source>
</phpunit>
